body {
	background-color: #191716;
	color: #84596B;
	font-family: "ink free", "sans serif";
    margin-left: 125px;
    margin-right: 30%;
    text-align: left;
}
#menu {
  position: absolute;
  left: 12px;
  top: 70px;
  width: 55px;
  height: 45px;
  z-index: 1;
  background-color: rgba(175, 155, 182, 0.2);
  border-color: #84596B;
  border-style: dashed;
  border-width: 1px;
  padding-left: 1%;
  padding-right: 1%;
}
#deleted1 {
	color: rgba(132,89,107,0.3);
}
#deleted2 {
	color: rgba(132,89,107,0.3);
}
#deleted3 {
	color: rgba(132,89,107,0.3);
}
a:visited {
  color: #603A40;
}
a:link,
a:active {
  color: #84596B;
}
a:hover {
  color: rgb(181, 131, 141);
}
.headers {
	margin-left: 20%;
}
.diary_headers {
	margin-left: 35%;
}
.diary_dates {
	margin-left: 36%;
}
hr {
	color: #B5838D
}